<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Hospital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/containers.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cadastro Hospital</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!--Cadastro do Paciente-->
            <div id="cadastro-paciente">
                <h1>Cadastro do Paciente</h1>
                <input type="text" id="nome_paciente" placeholder="Nome">
                <input type="text" id="cpf_paciente" placeholder="Cpf">
                <input type="text" id="nascimento_paciente" placeholder="Nascimento">
                <select id="sexo_paciente">
                    <option value="" disabled selected>Sexo</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outro</option>
                </select>
                <br>
                <input type="text" id="email_paciente" placeholder="Email">
                <input type="text" id="telefone_paciente" placeholder="Telefone">
                <br>
                <input type="submit" value="Cadastrar" onclick="CadastrarPaciente()">
            </div>
            <br>
            <!--Edição do do Paciente-->
            <div id="edicao-paciente">
                <h1>Editar Paciente</h1>
                <input type="text" size="3" id="id_paciente" placeholder="Id">
                <input type="text" id="enome_paciente" placeholder="Nome">
                <input type="text" id="ecpf_paciente" placeholder="Cpf">
                <input type="text" id="enascimento_paciente" placeholder="Nascimento">
                <select id="esexo_paciente">
                    <option value="" disabled selected>Sexo</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outro</option>
                </select>
                <br>
                <input type="text" id="eemail_paciente" placeholder="Email">
                <input type="text" id="etelefone_paciente" placeholder="Telefone">
                <br>
                <input type="submit" value="Editar" onclick="EditarPaciente()">
            </div>
            <!-- Listar Pacientes -->
            <br>
            <div id="pacientes">
                
            </div>
            <br>
            <!-- Cadastro Exames -->
            <div id="cadastro-exame">
                <h1>Cadastro de Exame</h1>
                <input type="text" id="nome-exame" placeholder="Nome do Exame">
                <input type="text" id="tipo-exame-id" placeholder="Id do tipo de exame">
                <br><br>
                <textarea id="descricao-exame" placeholder="Descrição do Exame"></textarea>
                <br>
                <input type="submit" value="Inserir" onclick="CadastrarExame()">
            </div>
        </main>
    </div>

    <script src="~/js/site.js"></script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Kayky Vitor Cruz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>